
button {
  padding: 15px 25px;
  border-radius: $br;
  border: 0;
  cursor: pointer;
  font-weight: $w-bold;
  margin-top: 15px;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: $gold2;
    box-shadow: 0 0 10px $gold1;
    &.btn-submit  {
        background-color: $black2;
        color: $gold1;
    }
  }
  &.btn-submit {
    width: 100%;
    color: $white;
    background-color: $black1;
    margin: 1.2rem 0;
  }
  &.card-btn, &.cta {
    background: $backgroundBtn;

  }
}