// GENERAL
.card {
    background: $background;
    border-radius: $br;
    margin: 5% 0;
    padding: 2rem 1.2rem;
    font-weight: $w-bold;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .card-s {
    color: $gold1;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    }
    .card-t {
    color: $white;
    font-size: 2.5rem;
    padding: 1rem 0;
    }
    button {
        width: 100%;
    }
    .card-p {
    color: $gray2;
    }
    .card-img {
        width: calc(100% + 1.2rem);
        height: 18rem;
        border-radius: $br 0 0 $br;
        // position: relative;
        // right: -1.2rem;
        margin-bottom: 1.8rem;
        overflow: hidden;
        
    }
}


// TESTIMONY SECTION

.testimony .card {
    height: 40rem;
    align-items: center;
    .card-text {
        position: absolute;
        top: 2rem;
        margin: 0 1.8rem;
        color: $white;
        font-weight: 300;
        font-size: 1.8rem;
        width: 90%;
        img {
            width: 12rem;
            margin: 1.5rem 0;
        }
    }
}


// TESTIMONY 1ST & 2ND CARDS
.testimony .card:nth-child(1), .testimony .card:nth-child(2) {
    padding: 0;
    overflow: hidden;
    img {
        max-width: 100%;
    }
}

.testimony .card:nth-child(3) .caption {
    background: transparent;
}


.avatar {
    object-fit: cover;
    height:  100%;
}


// CAPTION
.caption {
    background: $background;
    display: flex;
    align-items: center;
    width: 90%;
    height: 5rem;
    position: absolute;
    z-index: 999;
    border-radius: $br;
    color: $white;
    h4 {
        font-size: 1.4rem;
    }
    // CAPTION AVATAR
    div:first-of-type {
        margin: 0 0.6rem;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        border-radius: 50%;
        overflow: hidden;
    }
    // CAPTION TEXT
    div:last-of-type {
    
        height: 4rem;
        width: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p {
        color: $gray2;
    }
}


// 1ST & 2ND CAPTION
.w-img {
    margin-bottom: 2rem;
    align-self: center;;
}
